:root {
    --color-white: #fff;
    --color-black: #222;
    --color-grey: #777471;
    --color-stone: #edeae6;
    --color-yellow: #f5d652;
    --color-canary: #fff5ca;
    --color-canary-tint: #fffae5;
    --color-cobalt: #0074e4;
    --color-sky: #b6dbff;
    --color-sky-tint: #daedfe;
    --color-blurple: #5522fa;
    --color-lavender: #d5d2ff;
    --color-lavender-tint: #eae8fe;
    --color-purple: #7700a2;
    --color-pink: #cb84de;
    --color-pink-tint: #efdaf5;
    --color-salmon: #ec8580;
    --color-peach: #fee5da;
    --color-peach-tint: #fef2ed;
    --color-teal: #5fddc5;
    --color-mint: #b3f4e0;
    --color-mint-tint: #d8f9f0;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-shadow-dark: rgba(0, 0, 0, 0.2);
    --color-text: var(--color-black);
    --color-background: var(--color-stone);
    --color-sheet: var(--color-white);
    --color-neutral: var(--color-grey);
    --color-link: var(--color-blurple);
    --color-accent: var(--color-teal);
    --space-x-small: 0.25em;
    --space-small: 0.5em;
    --space-medium: 1em;
    --space-large: 2em;
    --space-x-large: 3em;
    --space-xx-large: 4em;
    --space-xxx-large: 6em;
    --space-navbar: 4em;
    --font-sans: 'Inconsolata', 'Helvetica Neue', helvetica, 'Apple Color Emoji', arial, sans-serif;
    --font-mono: monospace;
    --type-base: calc(1.6em + 0.5vw);
    --type-xxx-small: 55%;
    --type-xx-small: 65%;
    --type-x-small: 75%;
    --type-small: 85%;
    --type-medium: 100%;
    --type-large: 125%;
    --type-x-large: 150%;
    --type-xx-large: 200%;
    --type-xxx-large: 300%
}

@media (min-width: 45em) {
    :root {
        --type-base: calc(0.9em + 0.7vw)
    }
}

@media (min-width: 91em) {
    :root {
        --type-base: 2em
    }
}



*,
*::before,
*::after {
    box-sizing: border-box
}

::selection,
::-moz-selection {
    color: var(--color-text);
    background-color: var(--color-teal)
}

html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-padding: 10em 0 0 0
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    font-size: var(--type-base);
    color: var(--color-text);
    background-color: var(--color-sheet)
}

main {
    padding-top: 2em;

}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    transition: color 0.2s ease, text-decoration-color 0.2s ease;
    text-decoration-thickness: 0.1em;
    text-decoration-width: 0.1em
}

a,
a:visited {
    color: inherit
}

a:hover {
    color: var(--color-link);
    text-decoration-color: var(--color-teal)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: var(--space-medium) 0 var(--space-x-small) 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.25
}

h1 {
    margin: 0 0 var(--space-x-small) 0;
    font-size: var(--type-xx-large);
    line-height: 1;
    letter-spacing: -0.03em
}

@media (min-width: 45em) {
    h1 {
        font-size: var(--type-xxx-large)
    }
}

h2 {
    font-size: calc(var(--type-xx-large) - 15%)
}

@media (min-width: 45em) {
    h2 {
        font-size: var(--type-xx-large)
    }
}

h3 {
    font-size: calc(var(--type-x-large) - 15%)
}

@media (min-width: 45em) {
    h3 {
        font-size: var(--type-x-large)
    }
}

h4,
h5,
h6 {
    font-size: var(--type-large)
}

p,
ul,
ol {
    margin: 0 0 var(--space-medium) 0;
    padding: 0;
    line-height: 1.5
}

ul,
ol {
    margin-left: 1em
}

li {
    margin: 0 0 var(--space-small) 0
}

ul li ul,
ul li ol,
ol li ol,
ol li ul {
    margin: var(--space-small) 0 var(--space-medium) var(--space-medium)
}

small {
    font-size: var(--type-x-small);
    line-height: 1.5
}

del {
    text-decoration: line-through
}

figure {
    position: relative;
    margin: var(--space-small) auto var(--space-large) auto;
    width: 100%;
    text-align: center
}

figure img {
    display: block;
    margin: 0 auto;
    box-shadow: 2rem 2rem 6rem var(--color-shadow);
    border-radius: 1rem
}

figure a {
    border-bottom: 0
}

figcaption {
    margin: var(--space-medium) 0 var(--space-medium) 0;
    font-style: italic;
    font-weight: normal;
    font-size: var(--type-x-small);
    line-height: 1.3
}

img,
svg,
video {
    max-width: 100%;
    height: auto
}

hr {
    width: 100%;
    height: 0.2rem;
    display: block;
    clear: both;
    margin: var(--space-xx-large) auto;
    padding: 0;
    border: 0;
    background: linear-gradient(to right, var(--color-purple) 0%, var(--color-salmon) 100%)
}

.letter hr {
    width: 60%;

    margin: var(--space-large) auto;
}

blockquote {
    quotes: none
}

blockquote p:before {
    content: '“';
    display: inline
}

blockquote p:after {
    content: '”';
    display: inline
}

blockquote cite {
    display: block;
    font-size: var(--type-x-small);
    font-weight: 700
}

embed,
iframe,
object {
    max-width: 100%
}

label {
    display: block;
    margin: 0.5em 0 0 0;
    font-weight: normal;
    font-size: var(--type-small);
    letter-spacing: -0.02em;
    line-height: 1.5;
    text-align: left
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
textarea,
select {
    transition: all 0.2s ease;
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0 0 0.25em 0;
    padding: 0.4em 0.6em;
    font-family: var(--font-sans);
    font-size: var(--type-small);
    font-weight: 400;
    text-align: inherit;
    border: 0.2rem solid var(--color-mint);
    color: var(--color-text);
    background-color: var(--color-lavender);
    background: linear-gradient(45deg, var(--color-mint) 0%, var(--color-canary) 100%);
    border-radius: 1.5em;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: var(--color-blurple) !important
}

input[type=submit] {
    margin: 0;
    font-weight: 600;
    text-align: inherit
}


.delay-short {
    animation-delay: 0.15s !important
}

.delay-medium {
    animation-delay: 0.3s !important
}

.delay-long {
    animation-delay: 0.45s !important
}

.delay-x-long {
    animation-delay: 0.6s !important
}

.delay-xx-long {
    animation-delay: 0.75s !important
}

.has-js [data-aos="fade"] {
    opacity: 0;
    transition: opacity 0.3s linear
}

.has-js [data-aos="fade"].aos-animate {
    opacity: 1
}

.has-js [data-aos="fade-delay"] {
    opacity: 0;
    transition: opacity 0.3s linear 0.3s
}

.has-js [data-aos="fade-delay"].aos-animate {
    opacity: 1
}

.fade-in {
    opacity: 0;
    animation: fade-in 0.3s ease-out forwards
}

@supports (-webkit-touch-callout: none) {
    .fade-in--safely {
        opacity: 1;
        animation: none
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.has-js [data-aos="draw"],
.draw {
    opacity: 0;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition-property: opacity
}

.has-js [data-aos="draw"].aos-animate,
.draw.aos-animate {
    animation: draw 4s ease forwards;
    opacity: 1
}

@keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}

.has-js [data-page-transition="fade-out"],
.has-js [data-swap-page] {
    transition: transform 0.1s ease, opacity 0.1s ease;
    opacity: 1
}

.has-js [data-page-transition="fade-out"].animate,
.has-js [data-swap-page].animate {
    opacity: 0
}

.has-js [data-page-transition="fade-out"].animate.previous,
.has-js [data-swap-page].animate.previous {
    transform: translateX(8rem)
}

.has-js [data-page-transition="fade-out"].animate.next,
.has-js [data-swap-page].animate.next {
    transform: translateX(-8rem)
}

.has-js [data-page-transition="fade-out"].animate-finish,
.has-js [data-swap-page].animate-finish {
    opacity: 0 !important;
    transition-duration: 0.01s !important
}

.has-js [data-page-transition="fade-out"].animate-finish.previous,
.has-js [data-swap-page].animate-finish.previous {
    transform: translateX(-8rem)
}

.has-js [data-page-transition="fade-out"].animate-finish.next,
.has-js [data-swap-page].animate-finish.next {
    transform: translateX(8rem) !important
}

.push {
    margin: var(--space-medium) !important
}

.push--top {
    margin-top: var(--space-medium) !important
}

.push--bottom {
    margin-bottom: var(--space-medium) !important
}

.push-x-small {
    margin: var(--space-x-small) !important
}

.push-x-small--top {
    margin-top: var(--space-x-small) !important
}

.push-x-small--bottom {
    margin-bottom: var(--space-x-small) !important
}

.push-small {
    margin: var(--space-small) !important
}

.push-small--top {
    margin-top: var(--space-small) !important
}

.push-small--bottom {
    margin-bottom: var(--space-small) !important
}

.push-large {
    margin: var(--space-large) !important
}

.push-large--top {
    margin-top: var(--space-large) !important
}

.push-large--bottom {
    margin-bottom: var(--space-large) !important
}

.push-x-large {
    margin: var(--space-x-large) !important
}

.push-x-large--top {
    margin-top: var(--space-x-large) !important
}

.push-x-large--bottom {
    margin-bottom: var(--space-x-large) !important
}

.flush {
    margin: 0 !important
}

.flush--top {
    margin-top: 0 !important
}

.flush--bottom {
    margin-bottom: 0 !important
}

.txt-heavy {
    font-size: var(--type-large);
    font-weight: 500
}

.txt-center {
    text-align: center
}

.txt-right {
    text-align: right
}

@media (max-width: 44.99em) {
    .txt-center-mobile {
        text-align: center
    }
}

.txt-upcase {
    text-transform: uppercase
}

.txt-undecorated {
    text-decoration: none
}

.txt-xxx-small {
    font-size: var(--type-xxx-small)
}

.txt-xx-small {
    font-size: var(--type-xx-small)
}

.txt-x-small {
    font-size: var(--type-x-small)
}

.txt-small {
    font-size: var(--type-small)
}

.txt-medium {
    font-size: var(--type-medium)
}

.txt-large {
    font-size: var(--type-large)
}

.txt-x-large {
    font-size: var(--type-x-large)
}

.txt-xx-large {
    font-size: var(--type-xx-large)
}

.txt-xxx-large {
    font-size: var(--type-xxx-large)
}

.txt-tighter {
    letter-spacing: -0.03rem
}

.txt-kern {
    letter-spacing: 0
}

.txt-leaded {
    line-height: 1.25
}

.txt-rule {
    position: relative
}

.txt-rule:before {
    content: '';
    position: absolute;
    top: 50%;
    z-index: -1;
    width: 100%;
    height: 0.2rem;
    display: block;
    background: linear-gradient(to right, var(--color-purple) 0%, var(--color-salmon) 100%)
}

.txt-poster {
    margin-top: 0;
    font-size: 700%;
    font-weight: 900;
    letter-spacing: -0.05em;
    line-height: 0.7
}

.txt-anchor {
    display: block;
    position: relative;
    visibility: hidden
}

@supports not (scroll-padding: 10em 0 0 0) {
    .txt-anchor {
        top: -10rem
    }
}

@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
        .txt-anchor {
            top: -10rem
        }
    }
}

.txt-break {
    display: none
}

@media (min-width: 45em) {
    .txt-break {
        display: block
    }
}

.txt-underline {
    position: relative
}

.txt-underline:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0.5em;
    left: 0;
}

.txt-clipping {
    padding: 0 0.5rem;
    vertical-align: middle;
    background-color: var(--color-sheet);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, var(--color-peach) 0%, var(--color-canary) 100%);
}

.txt-clipping--pink-teal {
    background: linear-gradient(90deg, #f1bbff 0%, #4ddbc0 100%)
}

.txt-clipping--subtle {
    background: linear-gradient(90deg, var(--color-peach) 0%, var(--color-canary) 100%)
}


.button {
    transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    display: inline-block;
    padding: 0.4em 1em;
    color: var(--color-sheet);
    font-family: var(--font-sans);
    text-decoration: none;
    text-align: center;
    line-height: normal;
    -webkit-appearance: none;
    background-color: var(--color-link) !important;
    background: linear-gradient(90deg, var(--color-link) 0%, var(--color-cobalt) 100%) !important;
    border-radius: 1.5em;
    border: 0;
    box-shadow: none
}

@media (max-width: 44.99em) {
    .button {
        margin-bottom: var(--space-small)
    }
}

.button:visited {
    color: var(--color-sheet)
}

.button:hover {
    color: var(--color-sheet);
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 0 0.15rem var(--color-accent)
}

.button--fancy {
    background: linear-gradient(90deg, var(--color-cobalt) 0%, var(--color-purple) 100%) !important
}

.button--fill {
    display: block
}

@media (max-width: 44.99em) {
    .button--block {
        border-radius: 0.5em
    }
}

.twitter-tweet {
    margin-left: auto;
    margin-right: auto
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0
}

@media print {
    .flex {
        display: block
    }
}

.flex--fill {
    width: 100%;
    min-height: 100vh
}

.flex--center {
    justify-content: center;
    align-items: center
}

.flex--center-h {
    justify-content: center
}

.flex--center-v {
    align-items: center
}

.footer {
    margin: 10em 0 0 0;
    padding: 1em 0;
    text-align: center
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

@media (min-width: 45em) {
    .footer__nav {
        flex-direction: row;
        flex-wrap: wrap
    }
}

.footer__nav-item {
    margin: 0.25em 0.125em;
    padding: 0.25em 0.75em;
    font-size: var(--type-small);
    color: var(--color-blurple);
    background-color: var(--color-canary);
    border-radius: 1em;
    text-decoration: none
}

.footer__nav-item:hover {
    background: linear-gradient(45deg, var(--color-canary) 0%, var(--color-peach) 100%)
}

.footer__nav-item:visited {
    color: var(--color-blurple)
}

.multi-form {
    display: flex;
    flex-wrap: wrap
}

.multi-form .multi-form__block {
    width: 100%;
    margin: 0 0.25em
}

.multi-form .multi-form__block label {
    margin-left: 0.5em
}

.multi-form .multi-form__block--half {
    flex: 1 0 48%;
    max-width: 100%;
    width: initial
}

.multi-form .multi-form__affordance:hover {
    cursor: pointer
}

.multi-form .multi-form__card {
    padding: 1em;
    background-color: var(--color-sheet);
    box-shadow: 2rem 2rem 6rem var(--color-shadow);
    border-radius: 1rem
}

.grid {
    display: grid;
    grid-template-columns: [max] 1fr [l] 1fr [m] repeat(3, [m] 28vw) [m] 1fr [l] 1fr [max]
}

@media (min-width: 45em) {
    .grid {
        grid-template-columns: [max] 1fr [l] minmax(11ch, 0.7fr) [m] repeat(3, [m] 21.66ch) [m] minmax(11ch, 0.7fr) [l] 1fr [max]
    }
}

@media (min-width: 91em) {
    .grid {
        grid-template-columns: [max] 1fr [l] 15ch [m] repeat(3, [m] 21.66ch) [m] 15ch [l] 1fr [max]
    }
}

@media print {
    .grid {
        display: block;
        max-width: 80%;
        margin: 0 auto
    }
}

.grid>:not([class*="grid"]) {
    grid-column: m / m 4
}

.grid__max {
    grid-column: max / max 2
}

.grid__wide {
    grid-column: l / l 2
}

.grid__medium {
    grid-column: m / m 4
}

@media (max-width: 44.99em) {
    .grid__medium-mobile {
        grid-column: m / m 4
    }
}

@media (max-width: 44.99em) {
    .grid__large-mobile {
        grid-column: l / l 2
    }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 3rem transparent;
    background-color: var(--color-sheet)
}

@supports (-webkit-backdrop-filter: blur()) {
    .header {
        -webkit-backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.8)
    }
}

.header--scrolled {
    box-shadow: 0 0 3rem var(--color-shadow)
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 20000;
    margin: 0;
    padding: 0.75rem
}

@media (min-width: 45em) {
    .header__nav {
        padding: 1rem
    }
}

.header__logo {
    width: 4.5em;
    height: 2.2em;
    margin: 0;
    text-align: left
}

.header__logo svg {
    overflow: visible;
    width: 100%;
    height: auto
}

.header__logo .gradient-start,
.header__logo .gradient-end {
    transition: stop-color 0.75s ease
}

.header__logo .gradient-start {
    stop-color: var(--color-blurple)
}

.header__logo .gradient-end {
    stop-color: var(--color-blurple)
}

.header__logo:hover .gradient-start {
    stop-color: var(--color-purple)
}

.header__logo:hover .gradient-end {
    stop-color: var(--color-salmon)
}

.header__skip:hover,
.header__skip:active,
.header__skip:focus {
    clip: auto !important;
    top: 1rem;
    left: 1rem;
    width: auto;
    height: auto;
    z-index: 100000
}

.header__links {
    display: block;
    margin: 0;
    padding: 0;
    font-size: var(--type-medium)
}

@media (max-width: 44.99em) {
    .header__links {
        position: absolute;
        top: 8rem;
        right: -25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
        padding: 0;
        font-size: var(--type-large);
        -webkit-overflow-scrolling: touch
    }

    .header__links::after {
        transition: opacity 0.15s ease-in-out;
        content: '';
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-backdrop-filter: blur(15px);
        opacity: 0;
        pointer-events: none;
        background-color: rgba(255, 255, 255, 0.8)
    }

    @supports (-webkit-backdrop-filter: blur()) {
        .header__links::after {
            -webkit-backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.4)
        }
    }
}

.header__link {
    transition: color 0.2s ease, text-decoration-color 0.2s ease, box-shadow 0.2s ease;
    transform: none;
    margin: 0 0 0 0.6em;
    display: inline-block;
    line-height: 1.5;
    font-weight: 700
}

@media (max-width: 44.99em) {
    .header__link {
        transition: transform 0.15s ease-in;
        transform: translate(0, 0);
        display: inline-block;
        padding: 0.2em 1em;
        margin: 0 0 0.25em 0;
        line-height: 2;
        text-decoration: none;
        color: var(--color-white);
        background-color: var(--color-teal);
        background: linear-gradient(90deg, var(--color-purple) 0%, var(--color-salmon) 100%);
        border-radius: 3em
    }

    .header__link:visited,
    .header__link:hover {
        color: var(--color-white);
        box-shadow: none
    }

    .header__link:nth-child(2) {
        transition-delay: 0.05s
    }

    .header__link:nth-child(3) {
        transition-delay: 0.1s
    }

    .header__link:nth-child(4) {
        transition-delay: 0.15s
    }

    .header__link:nth-child(5) {
        transition-delay: 0.2s
    }

    .header__link:nth-child(6) {
        transition-delay: 0.25s
    }

    .header__link:nth-child(7) {
        transition-delay: 0.3s
    }

    .header__link:nth-child(8) {
        transition-delay: 0.35s
    }
}

@media (min-width: 45em) {
    .header__checkbox {
        display: none !important
    }
}

.header__toggle {
    display: none
}

@media (max-width: 44.99em) {
    .header__toggle {
        display: block;
        margin: 0;
        padding: 0.5em;
        cursor: pointer;
        font-size: var(--type-medium);
        font-weight: 700;
        color: var(--color-link)
    }
}

@media (max-width: 44.99em) {
    .header__toggle-icon {
        transition-duration: 0s;
        transition-delay: 0.15s;
        position: relative;
        display: inline-flex;
        top: -0.4rem;
        width: 1.75rem;
        height: 0.3rem;
        margin-right: 0.125em;
        background-color: var(--color-link);
        border-radius: 0.5rem
    }

    .header__toggle-icon::after,
    .header__toggle-icon::before {
        right: 0;
        transition-delay: 0.15s, 0s;
        transition-duration: 0.15s;
        transition-property: margin, transform;
        display: block;
        content: '';
        position: absolute;
        width: 2.25rem;
        height: 0.3rem;
        background-color: var(--color-link);
        border-radius: 0.5rem
    }

    .header__toggle-icon::before {
        margin-top: -0.7rem
    }

    .header__toggle-icon::after {
        margin-top: 0.7rem
    }
}

.header__toggle-opened {
    display: none
}

.header__toggle-closed {
    display: inline
}

@media (max-width: 44.99em) {
    .header__checkbox:checked~.header__links::after {
        opacity: 1;
        pointer-events: auto
    }

    .header__checkbox:checked~.header__links .header__link {
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
        transform: translate(-27rem, 0)
    }
}

.header__checkbox:checked~.header__toggle .header__toggle-icon {
    background-color: transparent
}

.header__checkbox:checked~.header__toggle .header__toggle-icon::before,
.header__checkbox:checked~.header__toggle .header__toggle-icon::after {
    transition-delay: 0s, 0.2s;
    margin-top: 0
}

.header__checkbox:checked~.header__toggle .header__toggle-icon::before {
    transform: rotate(45deg)
}

.header__checkbox:checked~.header__toggle .header__toggle-icon::after {
    transform: rotate(-45deg)
}

.header__checkbox:checked~.header__toggle .header__toggle-opened {
    display: inline
}

.header__checkbox:checked~.header__toggle .header__toggle-closed {
    display: none
}

.hide {
    display: none !important
}

.hide-screens {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

@media (max-width: 44.99em) {
    .hide-mobile {
        display: none !important
    }
}

@media (min-width: 45em) {
    .hide-desktop {
        display: none !important
    }
}

.hey-hero {
    position: relative;
    margin: 2em 0;
    padding: 0 2em;
    min-height: 10em
}

@media (min-width: 45em) {
    .hey-hero {
        display: grid;
        grid-template-columns: 0.93fr 1.35fr 1.85fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1em;
        margin: 4em 0 4em 0
    }
}

@media (min-width: 91em) {
    .hey-hero {
        padding: 0 10vw
    }
}

.hey-hero:before {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    width: 140%;
    height: 170%;
    left: -20%;
    top: -35%;
    z-index: -5;
    background: center top/auto 100% no-repeat url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1292 678.12'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bisolation:isolate;%7D.cls-2%7Bmix-blend-mode:multiply;%7D.cls-3%7Bfill:%237700a2;%7D.cls-4%7Bfill:url(%23linear-gradient);%7D.cls-5%7Bfill:url(%23linear-gradient-2);%7D.cls-6%7Bfill:url(%23linear-gradient-3);%7D.cls-7%7Bfill:url(%23linear-gradient-4);%7D.cls-8%7Bfill:url(%23linear-gradient-5);%7D%3C/style%3E%3ClinearGradient id='linear-gradient' x1='7507.27' y1='-2520.34' x2='7974.14' y2='-2520.34' gradientTransform='translate(6524.11 -5097.46) rotate(155.38)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e5f1f1'/%3E%3Cstop offset='0.14' stop-color='%23dcf0ee'/%3E%3Cstop offset='0.36' stop-color='%23c2ece6'/%3E%3Cstop offset='0.65' stop-color='%2399e6d8'/%3E%3Cstop offset='0.99' stop-color='%2360ddc5'/%3E%3Cstop offset='0.99' stop-color='%235fddc5'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2' x1='90.33' y1='-958.08' x2='760.54' y2='-958.08' gradientTransform='translate(946.23 1314.64) rotate(-21.25)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235fddc5'/%3E%3Cstop offset='0.17' stop-color='%2368dfc8'/%3E%3Cstop offset='0.46' stop-color='%2382e5d0'/%3E%3Cstop offset='0.82' stop-color='%23abefdc'/%3E%3Cstop offset='0.99' stop-color='%23c1f4e3'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-3' x1='630.45' y1='244.38' x2='1291.15' y2='244.38' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235fddc5'/%3E%3Cstop offset='0.13' stop-color='%2368ddbe'/%3E%3Cstop offset='0.33' stop-color='%2382dbaa'/%3E%3Cstop offset='0.6' stop-color='%23abd98a'/%3E%3Cstop offset='0.91' stop-color='%23e4d75f'/%3E%3Cstop offset='0.99' stop-color='%23f5d652'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-4' x1='7006.64' y1='-3722.9' x2='7352.26' y2='-3722.9' gradientTransform='translate(7279.6 -3348.5) rotate(178.89)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cb84de'/%3E%3Cstop offset='0.16' stop-color='%23c288e0'/%3E%3Cstop offset='0.43' stop-color='%23a892e7'/%3E%3Cstop offset='0.77' stop-color='%237fa3f1'/%3E%3Cstop offset='0.99' stop-color='%2360b0f9'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-5' x1='7420.08' y1='-657.23' x2='7828.42' y2='-657.23' gradientTransform='translate(5044.19 -5404.42) rotate(134.3)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ec8580'/%3E%3Cstop offset='0.2' stop-color='%23ed8e7b'/%3E%3Cstop offset='0.53' stop-color='%23f0a86c'/%3E%3Cstop offset='0.95' stop-color='%23f4d155'/%3E%3Cstop offset='0.99' stop-color='%23f5d652'/%3E%3C/linearGradient%3E%3C/defs%3E%3Ctitle%3Ebacksplash%3C/title%3E%3Cg class='cls-1'%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cg class='cls-2'%3E%3Cpath class='cls-3' d='M559.26,235.6c-47.94-17.83-97.83-22.11-150.83.25-49.19,20.75-93,77.35-87.95,137.61,3.3,39.06,25.72,71.06,50.25,96.42,34.35,35.53,75.48,63.29,121,73.16s95.74.55,135-31.67,65.54-88.52,61.57-143.27c-3.82-52.74-32.59-82.38-69.48-103.75C599.28,253,579.44,243.1,559.26,235.6Z'/%3E%3C/g%3E%3Cg class='cls-2'%3E%3Cpath class='cls-4' d='M669.11,505.84c57.59-44.72,101.68-108.23,84.53-171.48-19.14-70.6-101.85-118.43-165.48-95.71-32.24,11.51-57,37-85.66,55.55-30.05,19.4-64.39,31-96.7,46.43s-63.74,35.68-82.08,67.22-20.37,76.56,3.35,107.57c23.36,30.54,63.14,39.38,99.15,45,37.49,5.86,75.51,10.72,112.38,6.05C576.63,561.66,626.55,538.88,669.11,505.84Z'/%3E%3C/g%3E%3Cg class='cls-2'%3E%3Cpath class='cls-5' d='M923.76,62.45C841.38,104.67,769.35,160,736.84,200.91c-38,47.8-67.08,107.94-57.7,168.25,10.79,69.43,72,123.23,139.43,142.88,86.59,25.23,182.53,2.12,257.78-47.59s131.77-123.6,175.33-202.57c34.82-63.13,60.9-145.59,17.92-203.5C1199.54-36,1049.59-2,923.76,62.45Z'/%3E%3C/g%3E%3Cg class='cls-2'%3E%3Cpath class='cls-6' d='M752.38,137.59C683,190.59,609,264.28,636.24,343.06c13.9,40.21,52.31,66.76,91.21,84,87.74,38.87,184.93,43,279.24,35,67.17-5.69,196.22-4.83,246.56-55.66,102.48-103.46-24.66-298.94-123.64-352.08-107.83-57.89-217-28.55-312.87,37.42C798.49,104.29,775.7,119.77,752.38,137.59Z'/%3E%3C/g%3E%3Cg class='cls-2'%3E%3Cg class='cls-2'%3E%3Cpath class='cls-7' d='M271,645.46c34.12-8.63,63.11-33.17,72.47-73.87,8.15-35.45-.35-72.58-12.14-107-11.05-32.25-27.08-65.83-57.26-81.69-32.79-17.24-72.79-8.78-108.11,2.39A848.51,848.51,0,0,0,49.56,431.81C25.34,443.63-1.82,462.54.1,489.42c1.33,18.67,17.1,33.28,33.95,41.43s35.59,11.86,52.28,20.33c28,14.2,47.59,40.22,69.72,62.44C186.84,644.54,232.25,655.27,271,645.46Z'/%3E%3C/g%3E%3Cg class='cls-2'%3E%3Cpath class='cls-8' d='M322.64,564.63c38.59-27.18,76.3-62.23,73.05-110.27-6.81-45.71-54.84-87.1-101-98.9s-89.6-.28-127.14,16.78a372.78,372.78,0,0,0-120,86.29c-23.07,25-43.13,54.53-46.67,91.28s13,82,47.68,107.59C95,691.69,152,678.56,190.16,653.09c30.25-20.18,59.91-40.71,90.55-60.77C293.37,584,308.07,574.89,322.64,564.63Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    /*background: url(/assets/pebble/triple-one-77297c3f82d999cc31de12bcc994fc87e2298db5b78976812645e07766a5507b.svg) center top/auto 100% no-repeat */
}

@media (min-width: 45em) {
    .hey-hero:before {
        height: 180%
    }
}

@media (min-width: 91em) {
    .hey-hero:before {
        height: 140%;
        width: 100%;
        top: -25%;
        left: 0
    }
}

.hey-hero__img {
    display: none;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / 4;
    place-self: start
}

@media (min-width: 45em) {
    .hey-hero__img {
        display: block
    }
}

.hey-hero__img img {
    display: block;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 5rem var(--color-shadow-dark)
}

.hey-hero__img:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    place-self: end;
    max-width: 90%
}

.hey-hero__img:nth-child(3) {
    grid-column: 2;
    grid-row: 2 / 4;
    place-self: end
}

.hey-hero__img:nth-child(4) {
    grid-column: 3;
    grid-row: 1 / 3;
    place-self: end
}

.hey-hero__img:nth-child(5) {
    grid-column: 3;
    grid-row: 3 / 4;
    max-width: 50%;
    place-self: start
}

.hey-hero__mobile {
    pointer-events: none
}

@media (max-width: 44.99em) {
    .hey-hero__mobile {
        display: block;
        padding-top: 175%;
    }
}

@media (min-width: 45em) {
    .hey-hero__mobile {
        display: none
    }
}

.big-quote {
    margin: 1em 0 2em 0
}

.big-quote__text {
    margin-bottom: var(--space-small);
    font-size: var(--type-large);
    font-weight: 500
}

.big-quote__source {
    margin-bottom: -0.25em
}

.big-quote__source a {
    display: inline-flex;
    align-items: center
}

.big-quote__source img {
    margin-right: 0.5em;
    border-radius: 100%
}

.letter {
    margin: auto 0;
    padding: 1em;
    background-color: var(--color-white);
    border-radius: 1rem;
    box-shadow: 2rem 2rem 5rem var(--color-shadow);

    text-align: justify;
}

@media (min-width: 45em) {
    .letter {
        margin: auto -2em;
        padding: 2em
    }
}

.pointer {
    width: 2.25em;
    margin: 2em auto
}

.pointer svg {
    width: 100%;
    height: auto
}

.roadblock {
    max-width: 40em;
    margin: 0 1em;
    text-align: center
}

.roadblock__headline {
    margin-top: 0;
    font-size: 700%;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    line-height: 0.7
}

.unsupported {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 4em 2em;
    z-index: 10000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: 'Source Sans Variable', 'Helvetica Neue', helvetica, 'Apple Color Emoji', arial, sans-serif;
    color: #000;
    background-color: #fff
}

.unsupported p {
    max-width: 800px;
    margin: 0 auto
}

@supports (display: grid) {
    .unsupported {
        display: none;
        visibility: hidden
    }
}

.faq-toc {
    position: relative;
    margin: 2em 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
    grid-gap: 1.5em
}

.faq-toc:before {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    width: 300%;
    height: 300%;
    left: -60%;
    top: -120%;
    z-index: -5;
}

@media (min-width: 45em) {
    .faq-toc:before {
        width: 140%;
        height: 200%;
        left: -15%;
        top: -70%
    }
}

.faq-toc__section {
    margin: 0;
    padding: 1em;
    background-color: var(--color-white);
    border-radius: 0.5em;
    box-shadow: 2rem 2rem 5rem var(--color-shadow);
    text-align: center;
    flex-basis: 48.5%
}

.faq-toc__section-title {
    margin: 0 0 0.5em 0;
    font-size: var(--type-medium);
    color: var(--color-purple)
}

.faq-toc__question {
    display: block;
    padding: 0.4em 0;
    font-size: var(--type-small)
}

@media (min-width: 45em) {
    .faq-toc__question {
        padding: 0;
        font-size: var(--type-x-small)
    }
}

.faq-section-title {
    color: var(--color-purple);
    font-weight: 300
}

.faq-section-title:before {
    content: '';
    position: relative;
    top: 50%;
    width: 100%;
    height: 0.2rem;
    display: block;
    padding: 0;
    border: 0;
    background: linear-gradient(to right, var(--color-purple) 0%, var(--color-salmon) 100%)
}

.faq-section-title span {
    position: relative;
    z-index: 5
}

.no-style.box {
    list-style: none;
    padding: 2rem;
    vertical-align: middle;
    background-color: var(--color-sheet);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    border-radius: 1.5rem;
    background: linear-gradient(90deg, var(--color-peach) 0%, var(--color-canary) 100%);
}

.list {
    padding-top: 15px;
}

@media print {

    /* All your print styles go here */
    * {
        color: #fff !important;
        font-size: 1px !important;
        display: none;
        opacity: 0;
        ;
    }
}

.TimelineItem {
    position: relative;
    display: flex;
    padding: 16px 16px 16px 0;
}

.TimelineItem.no-style.box::before {

    background-color: #fff;
}

.TimelineItem::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 2px;
    content: "";
    background-color: #e1e4e8;
}

.TimelineItem-badge-Container {
    position: relative;
    z-index: 1;
    display: flex;
    height: 32px;
    color: #444d56;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-direction: column;
    margin-top: 10px;
}

.TimelineItem.no-style.box .TimelineItem-badge-Container {
    display: none;
}

.TimelineItem-badge {
    position: relative;
    z-index: 1;
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    margin-left: -15px;
    color: #444d56;
    align-items: center;
    background-color: #e1e4e8;
    border: 2px solid #fff;
    border-radius: 50%;
    justify-content: center;
    flex-shrink: 0;
}

.TimelineItem-body {
    min-width: 0;
    max-width: 100%;
    margin-top: 4px;
    color: #444d56;
    flex: auto;
}